Repository specmore/spectacular: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-web.yml

azure-pipelines-backend.yml:

# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - github-service/*

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: 'b49e6e37-26c8-421e-ac20-c8ea6239311e'
  imageRepository: 'spectacular-backend'
  containerRegistry: 'spectacular.azurecr.io'
  imagePullSecret: 'spectacular-auth'
  manifestArtifactName: 'backend-manifests'
  tag: '$(Build.BuildId)'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: 'github-service/Dockerfile'
        buildContext: '.'
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
    - upload: github-service/manifests
      artifact: $(manifestArtifactName)

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build

  jobs:
  - deployment: Deploy
    condition: and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/pull/')))
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
    environment: 'spectacular.spectacular-dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)
              
          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/$(manifestArtifactName)/deployment.yml
                $(Pipeline.Workspace)/$(manifestArtifactName)/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)

azure-pipelines-web.yml:

# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - ui/*

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: 'b49e6e37-26c8-421e-ac20-c8ea6239311e'
  imageRepository: 'spectacular-web'
  containerRegistry: 'spectacular.azurecr.io'
  tag: '$(Build.BuildId)'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: 'ui/Dockerfile'
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

add ui k8s deployment resources limits
  ui/manifests/deployment.yml
Due: azure-pipelines-web.yml

add github-service k8s deployment resource limits
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

add auth pipeline config
  azure-pipelines-auth.yml
Due: none

add auth location to ui k8s deployment
  ui/manifests/deployment.yml
Due: azure-pipelines-web.yml

add jwt shared secret env to github-service k8s deployment
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

tune pod limits and resources
  auth/manifests/deployment.yml
  github-service/manifests/deployment.yml
  ui/manifests/deployment.yml
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

tune k8s resource limits
  auth/manifests/deployment.yml
  github-service/manifests/deployment.yml
  ui/manifests/deployment.yml
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

set target port for auth k8s service
  auth/manifests/service.yml
Due: none

change to use new dev github app installation
  ui/src/index.js
Due: azure-pipelines-web.yml

change installation configs to filter by user collaborator access
  github-service/docs/domain-model/entities.plantuml
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigController.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
Due: azure-pipelines-backend.yml

add X-SPEC-INSTALLATION-ID header to webpack dev server proxy
  ui/package-lock.json
  ui/package.json
  ui/webpack.config.js
Due: azure-pipelines-web.yml

add new installation id header to nginx config
  docker-compose.yml
  ui/web.template.conf
  ui/webpack.config.js
Due: azure-pipelines-web.yml

update pod env vars to use new github-app configmap values
  github-service/manifests/deployment.yml
  ui/manifests/deployment.yml
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

log installation id request header
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
Due: azure-pipelines-backend.yml

add installation id interceptor
  github-service/src/main/java/spectacular/github/service/WebConfiguration.java
  github-service/src/main/java/spectacular/github/service/installation/InstallationError.java
  github-service/src/main/java/spectacular/github/service/installation/InstallationIdInterceptor.java
Due: azure-pipelines-backend.yml

remove instance parameter for getInstances endpoint
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigController.java
Due: azure-pipelines-backend.yml

add instance list ui component
  ui/src/api-client/index.js
  ui/src/components/catalogue-list.js
  ui/src/components/instance-list.js
  ui/src/components/instance-list.test.js
Due: azure-pipelines-web.yml

add name to instance config manifests
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigManifest.java
Due: azure-pipelines-backend.yml

change to show instance list on home page
  ui/src/api-client/index.js
  ui/src/components/instance-list.js
  ui/src/index.js
Due: azure-pipelines-web.yml

fix ui k8s pod command to replace installation id env var
  ui/manifests/deployment.yml
Due: azure-pipelines-web.yml

lower pod resource requests
  auth/manifests/deployment.yml
  github-service/manifests/deployment.yml
  ui/manifests/deployment.yml
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

lower github service k8s pod memory request
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

add installation controller
  github-service/src/main/java/spectacular/github/service/github/app/Account.java
  github-service/src/main/java/spectacular/github/service/github/app/AppApiClient.java
  github-service/src/main/java/spectacular/github/service/github/app/Installation.java
  github-service/src/main/java/spectacular/github/service/installation/InstallationController.java
  github-service/src/main/java/spectacular/github/service/installation/InstallationResponse.java
  github-service/src/main/java/spectacular/github/service/installation/InstallationService.java
Due: azure-pipelines-backend.yml

add installation welcome ui component
  ui/src/api-client/index.js
  ui/src/components/installation-welcome.js
  ui/src/components/installation-welcome.test.js
  ui/src/components/instance-list.test.js
  ui/src/index.js
Due: azure-pipelines-web.yml

add new catalogues list
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
  ui/src/api-client/index.js
  ui/src/assets/images/image-placeholder.png
  ui/src/components/catalogue-list.js
  ui/src/components/catalogue-list.test.js
  ui/src/index.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add link to installation owner
  ui/src/components/installation-welcome.js
  ui/src/components/installation-welcome.test.js
Due: azure-pipelines-web.yml

add new installation catalogues endpoint
  github-service/src/main/java/spectacular/github/service/catalogues/Catalogue.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueManifest.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/catalogues/CataloguesResponse.java
  github-service/src/main/java/spectacular/github/service/catalogues/SpecFileLocation.java
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/github/domain/SearchCodeResults.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

added org paramenter to the catalogue list
  ui/src/api-client/index.js
  ui/src/components/catalogue-list.js
  ui/src/components/catalogue-list.test.js
  ui/src/components/installation-welcome.js
  ui/src/index.css
  ui/src/index.js
Due: azure-pipelines-web.yml

change to repo name with owner in catalogues list
  ui/src/components/catalogue-list.js
  ui/src/components/catalogue-list.test.js
Due: azure-pipelines-web.yml

add specs catalogue list
  ui/src/components/catalogue-list.js
Due: azure-pipelines-web.yml

add link to repo in catalogue list item
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/github/domain/Repository.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
  ui/src/components/catalogue-list.js
  ui/src/index.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

fix catalogue list test erros
  ui/src/components/catalogue-list.test.js
Due: azure-pipelines-web.yml

add test step to ui docker build
  ui/Dockerfile
Due: azure-pipelines-web.yml

include test mocks in ui docker build
  ui/Dockerfile
Due: azure-pipelines-web.yml

add divider to catalogue list item group
  ui/src/components/catalogue-list.js
Due: azure-pipelines-web.yml

change to vertical segments
  ui/src/components/catalogue-list.js
  ui/src/index.js
Due: azure-pipelines-web.yml

change catalogue list loading render to use item group and placeholder image
  ui/src/components/catalogue-list.js
Due: azure-pipelines-web.yml

change welcome message
  ui/src/components/installation-welcome.js
Due: azure-pipelines-web.yml

fix missing ctr parameter json property name
  github-service/src/main/java/spectacular/github/service/github/domain/Repository.java
Due: azure-pipelines-backend.yml

add catalogue list manifest error message
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueManifest.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  ui/src/components/catalogue-list.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml
