Repository specmore/spectacular: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-web.yml

azure-pipelines-backend.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-web.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

remove old pipeline
  azure-pipelines.yml
Due: none

Set up k8s CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Set up k8s CI with Azure Pipelines
  manifests/deployment.yml
Due: none

Set up k8s CI with Azure Pipelines
  manifests/service.yml
Due: none

move manifest files
  azure-pipelines.yml
  github-service/manifests/deployment.yml
  github-service/manifests/service.yml
  manifests/deployment.yml
  manifests/service.yml
Due: azure-pipelines-backend.yml

add k8s deploy stage to backend pipeline
  azure-pipelines-backend.yml
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

add secrets to backend deployment
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

fixed backend deployment manifest errors
  github-service/manifests/deployment.yml
Due: azure-pipelines-backend.yml

add web deployment steps and k8s manifests
  azure-pipelines-web.yml
  ui/manifests/deployment.yml
  ui/manifests/service.yml
Due: azure-pipelines-web.yml

fix web deployment name and set API_LOCATION env to backend service
  ui/manifests/deployment.yml
  ui/manifests/service.yml
Due: azure-pipelines-web.yml

fix API_LOCATION for k8s env
  ui/manifests/deployment.yml
Due: azure-pipelines-web.yml

fix web container command
  ui/manifests/deployment.yml
Due: azure-pipelines-web.yml

move nginx envsubt to compose command
  docker-compose.yml
  ui/Dockerfile
Due: azure-pipelines-web.yml

change app api to use apache http components http client
  github-service/build.gradle
  github-service/src/main/java/spectacular/github/service/github/app/AppApiClient.java
  github-service/src/test/groovy/spectacular/github/service/github/app/AppApiClientTest.groovy
Due: azure-pipelines-backend.yml

add spring security oauth client and github oauth app settings
  docker-compose.yml
  github-service/build.gradle
  github-service/src/main/resources/application.properties
Due: azure-pipelines-backend.yml

add oauth routes to webpack dev server proxy
  ui/webpack.config.js
Due: azure-pipelines-web.yml

change application properties to yaml file
  github-service/src/main/resources/application.properties
  github-service/src/main/resources/application.yml
Due: azure-pipelines-backend.yml

change domain model to classes and add entity diagram
  github-service/docs/class-diagrams/classes.plantuml
  github-service/docs/class-diagrams/classes.svg
  github-service/docs/domain-model/entities.plantuml
Due: azure-pipelines-backend.yml

refactor repository model location and add file search
  github-service/src/main/java/spectacular/github/service/GenerateDomainModel.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfig.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/github/domain/SearchCodeResultItem.java
  github-service/src/main/java/spectacular/github/service/github/domain/SearchCodeResults.java
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

add respository to search results
  github-service/src/main/java/spectacular/github/service/github/domain/Repository.java
  github-service/src/main/java/spectacular/github/service/github/domain/SearchCodeResultItem.java
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

add instance config for installation controller
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfig.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigController.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstancesResponse.java
Due: azure-pipelines-backend.yml

add user info controller
  github-service/src/main/java/spectacular/github/service/user/UserController.java
  github-service/src/main/java/spectacular/github/service/user/UserResponse.java
Due: azure-pipelines-backend.yml

add user menu bar item
  ui/src/api-client/index.js
  ui/src/components/menu-bar/index.js
  ui/src/components/user-menu-bar-item.js
  ui/src/components/user-menu-bar-item.test.js
Due: azure-pipelines-web.yml

fix png error when running ui tests
  ui/__mocks__/fileMock.js
  ui/__mocks__/styleMock.js
  ui/package.json
Due: azure-pipelines-web.yml

fix user menu bar item effect
  ui/src/components/user-menu-bar-item.js
Due: azure-pipelines-web.yml

add github profile url to user api
  github-service/src/main/java/spectacular/github/service/user/UserController.java
  github-service/src/main/java/spectacular/github/service/user/UserResponse.java
Due: azure-pipelines-backend.yml

add links to user menu
  ui/src/components/user-menu-bar-item.js
Due: azure-pipelines-web.yml

add react router
  ui/package-lock.json
  ui/package.json
  ui/src/index.js
Due: azure-pipelines-web.yml

change github-service to use spring security resource server protected with a shared secret key signed JWT
  github-service/build.gradle
  github-service/src/main/java/spectacular/github/service/GitHubServiceApplication.java
  github-service/src/main/java/spectacular/github/service/github/app/AppAuthenticationService.java
  github-service/src/main/resources/application.yml
  ui/webpack.config.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add new JWTCookieToAuthorizationHeaderFilter
  github-service/src/main/java/spectacular/github/service/GitHubServiceApplication.java
  github-service/src/main/java/spectacular/github/service/security/AuthorizationHeaderOverrideRequestWrapper.java
  github-service/src/main/java/spectacular/github/service/security/JWTCookieToAuthorizationHeaderFilter.java
  github-service/src/main/resources/application.yml
  github-service/src/test/groovy/spectacular/github/service/security/JWTCookieToAuthorizationHeaderFilterTest.groovy
Due: azure-pipelines-backend.yml

add security configuration with new cookie filter
  github-service/src/main/java/spectacular/github/service/GitHubServiceApplication.java
  github-service/src/main/java/spectacular/github/service/SecurityConfiguration.java
  github-service/src/main/java/spectacular/github/service/security/JWTCookieToAuthorizationHeaderFilter.java
Due: azure-pipelines-backend.yml

change app auth service to use a configurable jwt duration
  github-service/src/main/java/spectacular/github/service/github/app/AppAuthenticationService.java
  github-service/src/main/resources/application.yml
  github-service/src/test/groovy/spectacular/github/service/github/app/AppAuthenticationServiceTest.groovy
Due: azure-pipelines-backend.yml

disabled unneeded security filters for pure resource server
  github-service/src/main/java/spectacular/github/service/SecurityConfiguration.java
Due: azure-pipelines-backend.yml

fix ui to use new loginsrv user and logout endpoints
  ui/src/api-client/index.js
  ui/src/components/user-menu-bar-item.js
  ui/src/components/user-menu-bar-item.test.js
Due: azure-pipelines-web.yml

turn off debug logging
  github-service/src/main/resources/application.yml
Due: azure-pipelines-backend.yml

remove unneeded user endpoint
  github-service/src/main/java/spectacular/github/service/user/UserController.java
  github-service/src/main/java/spectacular/github/service/user/UserResponse.java
Due: azure-pipelines-backend.yml

add auth service to docker-compose
  docker-compose.yml
  github-service/src/main/resources/application.yml
  ui/web.template.conf
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

Delete azure-pipelines.yml
  azure-pipelines.yml
Due: none

set loginsrv version to 1.3.0 in docker-compose file
  docker-compose.yml
Due: none

add auth app k8s manifests
  auth/manifests/deployment.yml
  auth/manifests/service.yml
Due: none

Path conditions:
  azure-pipelines-backend.yml: any of: github-service
  azure-pipelines-web.yml: any of: ui
