Repository specmore/spectacular: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-auth.yml, azure-pipelines-backend.yml, azure-pipelines-web.yml

Path conditions:
  azure-pipelines-auth.yml: any of: auth
  azure-pipelines-backend.yml: any of: github-service
  azure-pipelines-web.yml: any of: ui

fix pull request updatedAt field name and change to instant
  github-service/src/main/java/spectacular/github/service/github/graphql/PullRequest.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequest.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecLogServiceTest.groovy
Due: azure-pipelines-backend.yml

add pull request labels to proposed change item
  ui/src/components/proposed-change-item.js
  ui/src/components/proposed-change-item.test.js
Due: azure-pipelines-web.yml

add caching to httpclient
  github-service/build.gradle
  github-service/src/main/java/spectacular/github/service/HttpClientConfig.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  ui/webpack.config.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add github rate limit endpoint
  github-service/src/main/java/spectacular/github/service/github/RateLimitController.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
Due: azure-pipelines-backend.yml

expose metrics actuator endpoint
  github-service/src/main/resources/application.yml
Due: azure-pipelines-backend.yml

change the div below menu to use a margin instead of padding and set a relative position
  ui/src/index.js
Due: azure-pipelines-web.yml

add extra div to main content block to fix padding below top menu
  ui/src/index.js
Due: azure-pipelines-web.yml

add data-testid's for end-to-end tests
  ui/src/components/catalogue-details.js
  ui/src/components/catalogue-details.test.js
  ui/src/components/installation-welcome.js
  ui/src/components/user-menu-bar-item.js
Due: azure-pipelines-web.yml

add type prop to spec-log-item and it's testid
  ui/src/components/spec-log-item.js
  ui/src/components/spec-log.js
Due: azure-pipelines-web.yml

add cypress
  cypress.json
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
Due: none

add end to end cypress test
  cypress/integration/end_to_end.js
Due: none

increase cypress timeout to 10s
  cypress.json
Due: none

add mock bean for HttpComponentsClientHttpRequestFactory
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

refactor catalogue service to use getRepositoryContent
  github-service/src/main/java/spectacular/github/service/catalogues/Catalogue.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueManifest.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
Due: azure-pipelines-backend.yml

refactor InstanceConfigService to use getRepositoryContent
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfig.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigManifest.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
Due: azure-pipelines-backend.yml

refactor FileService to use getRepositoryContent
  github-service/src/main/java/spectacular/github/service/files/FilesController.java
  github-service/src/main/java/spectacular/github/service/files/FilesService.java
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
Due: azure-pipelines-backend.yml

remove getRawRepositoryContent to improve caching using just getRepositoryContent
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

move cypress tests to new integration-tests folder
  integration-tests/cypress.json
  integration-tests/cypress/fixtures/example.json
  integration-tests/cypress/integration/end_to_end.js
  integration-tests/cypress/plugins/index.js
  integration-tests/cypress/support/commands.js
  integration-tests/cypress/support/index.js
  integration-tests/package-lock.json
Due: none

add github api wiremock files
  integration-tests/github-mock/test/__files/body-(root)-TsMfr.json
  integration-tests/github-mock/test/__files/body-app-installations-6436743-XI1uw.json
  integration-tests/github-mock/test/__files/body-graphql-BafFX.json
  integration-tests/github-mock/test/__files/body-graphql-iZQtq.json
  integration-tests/github-mock/test/__files/body-graphql-jQKIz.json
  integration-tests/github-mock/test/__files/body-installations-6436743-access_tokens-EI0oe.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-6Stah.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-collaborators-pburls-KxF4I.txt
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-contents-specs-error-example.yaml-2Jz16.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-contents-specs-example-template.yaml-cuoQc.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-contents-specs-example-template.yaml-mrFVm.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-contents-specs-example-template.yaml-wq5cq.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-contents-spectacular-config.yaml-y44CC.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-manifest-error-collaborators-pburls-ntEUx.txt
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-manifest-error-contents-spectacular-config.yaml-FJV9w.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test-no-access-contents-specs-example-template.yaml-0mMLG.json
  integration-tests/github-mock/test/__files/body-repos-pburls-specs-test2-contents-specs-example-spec.yaml-Vq6Md.json
  integration-tests/github-mock/test/__files/body-search-code-OPPBc.json
  integration-tests/github-mock/test/mappings/mapping-(root)-TsMfr.json
  integration-tests/github-mock/test/mappings/mapping-app-installations-6436743-XI1uw.json
  integration-tests/github-mock/test/mappings/mapping-graphql-BafFX.json
  integration-tests/github-mock/test/mappings/mapping-graphql-iZQtq.json
  integration-tests/github-mock/test/mappings/mapping-graphql-jQKIz.json
  integration-tests/github-mock/test/mappings/mapping-installations-6436743-access_tokens-EI0oe.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-6Stah.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-collaborators-pburls-KxF4I.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-contents-specs-error-example.yaml-2Jz16.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-contents-specs-example-template.yaml-cuoQc.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-contents-specs-example-template.yaml-mrFVm.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-contents-specs-example-template.yaml-wq5cq.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-contents-spectacular-config.yaml-y44CC.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-manifest-error-collaborators-pburls-ntEUx.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-manifest-error-contents-spectacular-config.yaml-FJV9w.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test-no-access-contents-specs-example-template.yaml-0mMLG.json
  integration-tests/github-mock/test/mappings/mapping-repos-pburls-specs-test2-contents-specs-example-spec.yaml-Vq6Md.json
  integration-tests/github-mock/test/mappings/mapping-search-code-OPPBc.json
Due: none

add baseUrl to cypress config
  integration-tests/.gitignore
  integration-tests/cypress.json
  integration-tests/cypress/integration/end_to_end.js
Due: none

add github api root-url environment variable to backend service
  github-service/src/main/resources/application.yml
Due: azure-pipelines-backend.yml

add github api root url to docker compose envs
  docker-compose.yml
Due: none

add initial integration test readme
  integration-tests/README.md
Due: none

add new combined pipeline
  azure-pipelines.yml
Due: none

add azureSubscriptionEndpoint
  azure-pipelines.yml
Due: none

add docker compose envs to pipeline
  azure-pipelines.yml
Due: none

mapping pipeline secret to step env
  azure-pipelines.yml
Due: none

add github app signing key download task
  azure-pipelines.yml
Due: none

add run step to pipeline
  azure-pipelines.yml
Due: none

add missing envs to run step
  azure-pipelines.yml
Due: none

add initial script files
  integration-tests/github-mock-run.sh
  integration-tests/run-cypress-tests.sh
Due: none

correct run step container registry
  azure-pipelines.yml
Due: none

add baseUrl to run cypres tests script
  integration-tests/README.md
  integration-tests/run-cypress-tests.sh
Due: none

add cypress tests step
  azure-pipelines.yml
Due: none

changes to tests bash script step
  azure-pipelines.yml
Due: none

add test script step
  azure-pipelines.yml
Due: none

add another test step
  azure-pipelines.yml
Due: none

add a whole lot of tests
  azure-pipelines.yml
Due: none

remove the -it from cypress script
  integration-tests/run-cypress-tests.sh
Due: none

add docker ps and curl test steps
  azure-pipelines.yml
Due: none
