Repository specmore/spectacular: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-auth.yml, azure-pipelines-backend.yml, azure-pipelines-web.yml

Path conditions:
  azure-pipelines-auth.yml: any of: auth
  azure-pipelines-backend.yml: any of: github-service
  azure-pipelines-web.yml: any of: ui

change catagloue details to use separate segments and attached headers
  ui/src/components/catalogue-details.js
Due: azure-pipelines-web.yml

change spec-file-items to segments with attached headers
  ui/src/components/catalogue-details.js
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

add header icons
  ui/src/components/catalogue-details.js
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

fix spec-file-item test
  ui/src/components/spec-file-item.test.js
Due: azure-pipelines-web.yml

change branch label colour
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

rename getRepositoryContent to getRawRepositoryContent
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/config/instance/InstanceConfigService.java
  github-service/src/main/java/spectacular/github/service/files/FilesService.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

add getRepositoryContent api client
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/github/domain/ContentItem.java
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

add htmlUrl to SpecItem
  github-service/src/main/java/spectacular/github/service/github/domain/ContentItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

fix content item decoder type
  github-service/src/main/java/spectacular/github/service/github/domain/ContentItem.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

add spec item html url link to branch label
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

add spec evolution domain object to catalogue
  github-service/src/main/java/spectacular/github/service/catalogues/Catalogue.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/specs/SpecEvolution.java
  github-service/src/main/java/spectacular/github/service/specs/SpecEvolutionService.java
  github-service/src/main/java/spectacular/github/service/specs/SpecItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecEvolutionServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
  ui/src/components/catalogue-details.js
  ui/src/components/catalogue-details.test.js
  ui/src/components/spec-file-evolution.js
  ui/src/components/spec-file-evolution.test.js
  ui/src/components/spec-file-item.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

Rename SpecEvolution to SpecLog
  github-service/src/main/java/spectacular/github/service/catalogues/Catalogue.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/specs/SpecLog.java
  github-service/src/main/java/spectacular/github/service/specs/SpecLogService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecLogServiceTest.groovy
Due: azure-pipelines-backend.yml

change spec-evolution-item to spec-log
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecLogServiceTest.groovy
  ui/src/components/catalogue-details.js
  ui/src/components/catalogue-details.test.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add proposed spec change and pull request
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/catalogues/SpecFileLocation.java
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequest.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequestService.java
  github-service/src/main/java/spectacular/github/service/specs/ProposedSpecChange.java
  github-service/src/main/java/spectacular/github/service/specs/SpecLog.java
  github-service/src/main/java/spectacular/github/service/specs/SpecLogService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/specs/SpecLogServiceTest.groovy
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add pull request service implementation
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/github/domain/Repository.java
  github-service/src/main/java/spectacular/github/service/github/graphql/ChangedFile.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Connection.java
  github-service/src/main/java/spectacular/github/service/github/graphql/GraphQLRequest.java
  github-service/src/main/java/spectacular/github/service/github/graphql/GraphQLResponse.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Label.java
  github-service/src/main/java/spectacular/github/service/github/graphql/PullRequest.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Ref.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Repository.java
  github-service/src/main/java/spectacular/github/service/github/graphql/ResponseData.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequest.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequestService.java
Due: azure-pipelines-backend.yml

separate graphql repository objects to with and without pull requests
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/main/java/spectacular/github/service/github/domain/Repository.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Ref.java
  github-service/src/main/java/spectacular/github/service/github/graphql/Repository.java
  github-service/src/main/java/spectacular/github/service/github/graphql/RepositoryWithPullRequests.java
  github-service/src/main/java/spectacular/github/service/github/graphql/ResponseData.java
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
Due: azure-pipelines-backend.yml

add new proposed-change-item
  ui/src/components/proposed-change-item.js
  ui/src/components/proposed-change-item.test.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

change proposed-change-item to a grid item
  ui/src/components/proposed-change-item.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

added proposed changes list component
  ui/src/components/proposed-changes-list.js
  ui/src/components/proposed-changes-list.test.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

add latest agreed version component
  ui/src/components/latest-agreed-version.js
  ui/src/components/latest-agreed-version.test.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

remove the spec log repository param
  ui/src/components/catalogue-details.js
Due: azure-pipelines-web.yml

change latest agreed version component to use attached segment and header
  ui/src/components/latest-agreed-version.js
Due: azure-pipelines-web.yml

change proposed change item to attached header and segments
  ui/src/components/proposed-change-item.js
  ui/src/components/proposed-change-item.test.js
  ui/src/components/proposed-changes-list.js
Due: azure-pipelines-web.yml

create and use new spec-revision component for latest and proposed items
  ui/src/components/latest-agreed-version.js
  ui/src/components/latest-agreed-version.test.js
  ui/src/components/proposed-change-item.js
  ui/src/components/proposed-change-item.test.js
  ui/src/components/spec-revision.js
  ui/src/components/spec-revision.test.js
Due: azure-pipelines-web.yml

add git ref to file contents api
  github-service/src/main/java/spectacular/github/service/files/FilesController.java
  github-service/src/main/java/spectacular/github/service/files/FilesService.java
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
  ui/src/components/spec-revision.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

added highlight of current selected revision
  ui/src/components/latest-agreed-version.js
  ui/src/components/proposed-change-item.js
  ui/src/components/proposed-changes-list.js
  ui/src/components/proposed-changes-list.test.js
  ui/src/components/spec-log-item.js
  ui/src/components/spec-log-item.test.js
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

add wiremock test files
  test/test/__files/body-(root)-2aacI.json
  test/test/__files/body-api-catalogues-pburls-specs-test-files-pburls-specs-test-master-specs-example-template.yaml-vv1qS.json
  test/test/__files/body-api-catalogues-pburls-specs-test-files-pburls-specs-test-test-pr-2-specs-example-template.yaml-DQhdn.json
  test/test/__files/body-api-catalogues-pburls-specs-test-files-pburls-specs-test-test-pr-example-specs-example-template.yaml-resCd.json
  test/test/__files/body-api-catalogues-pburls-specs-test-files-pburls-specs-test2-master-specs-example-spec.yaml-C6dlk.json
  test/test/__files/body-api-catalogues-pburls-specs-test-rVK8Y.json
  test/test/__files/body-api-installation-vsDe4.json
  test/test/__files/body-api-pburls-catalogues-JZu2N.json
  test/test/__files/body-favicon.ico-AkLeo.json
  test/test/mappings/mapping-(root)-2aacI.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-files-pburls-specs-test-master-specs-example-template.yaml-vv1qS.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-files-pburls-specs-test-test-pr-2-specs-example-template.yaml-DQhdn.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-files-pburls-specs-test-test-pr-example-specs-example-template.yaml-resCd.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-files-pburls-specs-test2-master-specs-example-spec.yaml-C6dlk.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-rVK8Y.json
  test/test/mappings/mapping-api-installation-vsDe4.json
  test/test/mappings/mapping-api-pburls-catalogues-JZu2N.json
  test/test/mappings/mapping-favicon.ico-AkLeo.json
  ui/webpack.config.js
Due: azure-pipelines-web.yml

add updatedAt to PRs
  github-service/src/main/java/spectacular/github/service/github/graphql/PullRequest.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequest.java
  github-service/src/main/java/spectacular/github/service/pullrequests/PullRequestService.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecLogServiceTest.groovy
Due: azure-pipelines-backend.yml

add sha field to content item and spec item
  github-service/src/main/java/spectacular/github/service/github/domain/ContentItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

add last modified to content item
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/main/java/spectacular/github/service/github/domain/ContentItem.java
  github-service/src/test/groovy/spectacular/github/service/github/RestApiClientTest.groovy
Due: azure-pipelines-backend.yml

add last modified to spec item
  github-service/src/main/java/spectacular/github/service/specs/SpecItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

add latest wiremock recording with last modified fields
  test/test/__files/body-api-catalogues-pburls-specs-test-rVK8Y.json
  test/test/__files/body-api-catalogues-pburls-specs-test-wpoTn.json
  test/test/mappings/mapping-api-catalogues-pburls-specs-test-wpoTn.json
Due: none

change view spec button to compact
  ui/src/routes.js
Due: azure-pipelines-web.yml

add last modified from now moment to spec revision component
  ui/package-lock.json
  ui/package.json
  ui/src/components/spec-revision.js
  ui/src/components/spec-revision.test.js
Due: azure-pipelines-web.yml

change wording of catalogue details headings
  ui/src/components/catalogue-details.js
Due: azure-pipelines-web.yml

added proposed changes count to heading
  ui/src/components/spec-log.js
  ui/src/components/spec-log.test.js
Due: azure-pipelines-web.yml

change selected spec log item to use left border highlighting
  ui/src/components/spec-log-item.css
  ui/src/components/spec-log-item.js
  ui/src/components/spec-log-item.test.js
Due: azure-pipelines-web.yml

moved view spec button to spec log item container
  ui/src/components/spec-log-item.js
  ui/src/components/spec-log-item.test.js
  ui/src/components/spec-revision.js
  ui/src/components/spec-revision.test.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

add close button to catalogue container
  ui/src/components/catalogue-container.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

add back to catalogue list button
  ui/src/components/catalogue-container.js
  ui/src/index.js
  ui/src/routes.js
Due: azure-pipelines-web.yml
