Repository specmore/spectacular: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-auth.yml, azure-pipelines-backend.yml, azure-pipelines-web.yml

azure-pipelines-auth.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - upload: auth/manifests
        artifact: $(manifestArtifactName)
  - stage: Deploy
    displayName: Deploy stage
    dependsOn: Build
    jobs:
  ...

azure-pipelines-backend.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-web.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

add spec file path mandatory field
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/catalogues/SpecFileLocation.java
Due: azure-pipelines-backend.yml

setup webpack dev server to handle react router history router
  ui/src/components/catalogue-list.js
  ui/webpack.config.js
Due: azure-pipelines-web.yml

change nginx root location to handle react router routes
  ui/web.template.conf
Due: azure-pipelines-web.yml

move segment to welcome component
  ui/src/components/installation-welcome.js
  ui/src/index.js
Due: azure-pipelines-web.yml

add axion interceptor to refresh login
  ui/src/api-client/index.js
Due: azure-pipelines-web.yml

add routing and new catalogue and not found pages
  ui/src/components/catalogue-container.js
  ui/src/components/not-found.js
  ui/src/index.js
Due: azure-pipelines-web.yml

add home link to nav bar
  ui/src/components/menu-bar/index.js
Due: azure-pipelines-web.yml

add get catalogue for repo endpoint
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/common/Repository.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/config/instance/InstanceConfigServiceTest.groovy
Due: azure-pipelines-backend.yml

add new renderWithRouter test util
  ui/src/common/test-utils.js
  ui/src/components/catalogue-list.test.js
Due: azure-pipelines-web.yml

add catalogue container fetch and tests
  ui/src/api-client/index.js
  ui/src/common/test-utils.js
  ui/src/components/catalogue-container.js
  ui/src/components/catalogue-container.test.js
Due: azure-pipelines-web.yml

add routes module and refactor catalogue-list
  ui/src/components/catalogue-list-item.js
  ui/src/components/catalogue-list.js
  ui/src/components/catalogue-list.test.js
  ui/src/index.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

test mock catalogue list item calls
  ui/src/components/catalogue-list.test.js
Due: azure-pipelines-web.yml

add tests for catalogue-list-item
  ui/src/components/catalogue-list-item.js
  ui/src/components/catalogue-list-item.test.js
  ui/src/components/catalogue-list.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

add more catalogue-container tests and catalogue-details module
  ui/src/components/catalogue-container.js
  ui/src/components/catalogue-container.test.js
  ui/src/components/catalogue-details.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

change repo link to label in catalogue-list-item
  ui/src/components/catalogue-list-item.js
Due: azure-pipelines-web.yml

change installation loading fragment to segment
  ui/src/components/installation-welcome.js
Due: azure-pipelines-web.yml

center align catalogue-container loading placeholder image
  ui/src/components/catalogue-container.js
Due: azure-pipelines-web.yml

fix tabs in catalogue-list-item
  ui/src/components/catalogue-list-item.js
Due: azure-pipelines-web.yml

add catalogue-details module
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/main/java/spectacular/github/service/github/RestApiClient.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  ui/src/components/catalogue-details.js
  ui/src/components/catalogue-details.test.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add grid and swagger-ui to catalogue-container
  ui/package-lock.json
  ui/package.json
  ui/src/components/catalogue-container.js
  ui/src/components/catalogue-container.test.js
  ui/src/components/catalogue-details.js
  ui/src/components/installation-welcome.js
  ui/src/components/not-found.js
  ui/src/index.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

change to custom css for side by side container
  ui/src/components/catalogue-container.css
  ui/src/components/catalogue-container.js
Due: azure-pipelines-web.yml

add catalogue list item button assert to tests
  ui/src/components/catalogue-list-item.test.js
  ui/src/index.js
Due: azure-pipelines-web.yml

create new spec-file-item component and add view spec link button
  ui/src/components/catalogue-container.js
  ui/src/components/catalogue-details.js
  ui/src/components/spec-file-item.js
  ui/src/components/spec-file-item.test.js
  ui/src/routes.js
Due: azure-pipelines-web.yml

allow dots in webpack dev server paths
  ui/webpack.config.js
Due: azure-pipelines-web.yml

change swagger-ui to use location parameter for spec url
  ui/src/api-client/index.js
  ui/src/components/catalogue-container.js
  ui/src/components/catalogue-container.test.js
Due: azure-pipelines-web.yml

change spec file location to return repository object
  github-service/src/main/java/spectacular/github/service/catalogues/SpecFileLocation.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  ui/src/components/catalogue-container.test.js
  ui/src/components/catalogue-details.test.js
  ui/src/components/catalogue-list-item.test.js
  ui/src/components/spec-file-item.js
  ui/src/components/spec-file-item.test.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add files service to backend
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueController.java
  github-service/src/main/java/spectacular/github/service/files/FilesController.java
  github-service/src/main/java/spectacular/github/service/files/FilesService.java
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
Due: azure-pipelines-backend.yml

change web app to use new spec file content api url and fixed for no repo spec locations
  github-service/src/main/java/spectacular/github/service/files/FilesService.java
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
  ui/src/api-client/index.js
  ui/src/components/catalogue-container.js
Due: azure-pipelines-backend.yml, azure-pipelines-web.yml

add spec service and openapi parsing
  github-service/src/main/java/spectacular/github/service/specs/SpecItem.java
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/main/java/spectacular/github/service/specs/openapi/OpenApiOperation.java
  github-service/src/main/java/spectacular/github/service/specs/openapi/OpenApiParser.java
  github-service/src/main/java/spectacular/github/service/specs/openapi/OpenApiSpec.java
  github-service/src/main/java/spectacular/github/service/specs/openapi/OpenApiSpecParseResult.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

add spec items to catalogue response
  github-service/src/main/java/spectacular/github/service/catalogues/Catalogue.java
  github-service/src/main/java/spectacular/github/service/catalogues/CatalogueService.java
  github-service/src/test/groovy/spectacular/github/service/catalogues/CatalogueServiceTest.groovy
  github-service/src/test/groovy/spectacular/github/service/files/FilesServiceTest.groovy
Due: azure-pipelines-backend.yml

fix catalogue-container tests for new files url
  ui/src/components/catalogue-container.test.js
Due: azure-pipelines-web.yml

handle spec content not found error message
  github-service/src/main/java/spectacular/github/service/specs/SpecService.java
  github-service/src/test/groovy/spectacular/github/service/specs/SpecServiceTest.groovy
Due: azure-pipelines-backend.yml

wired up the spec-file-item to show new spec item data
  ui/src/components/catalogue-details.js
  ui/src/components/spec-file-item.js
  ui/src/components/spec-file-item.test.js
Due: azure-pipelines-web.yml

change catalogue-details test to mock out spec file item component
  ui/src/components/catalogue-details.test.js
Due: azure-pipelines-web.yml

change spec item layout
  ui/src/components/spec-file-item.js
  ui/src/components/spec-file-item.test.js
Due: azure-pipelines-web.yml

change spec file item layout
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

change layout of catalogue-details
  ui/src/components/catalogue-details.js
Due: azure-pipelines-web.yml

change interface specifications header
  ui/src/components/catalogue-details.js
Due: azure-pipelines-web.yml

move version on specification file item
  ui/src/components/spec-file-item.js
Due: azure-pipelines-web.yml

change to use div wrapper for catalogue details in catalogue container
  ui/src/components/catalogue-container.js
Due: azure-pipelines-web.yml

Path conditions:
  azure-pipelines-auth.yml: any of: auth
  azure-pipelines-backend.yml: any of: github-service
  azure-pipelines-web.yml: any of: ui
